<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="css/am.css">
    <script src="/js/general.js"></script>
    <title> Additive Manufacturing Kiosk </title>
  </head>
  <body>
    <div class="w3-display-container cm-imagepane" style="width:100%;">
      <img src="/static/backgrounds/main.png" alt="" style="width: 100%;">
      <!-- Click areas -->
      <div class="w3-display-left w3-row" style="width:100%; height:75%;">

        <div class="w3-display-middle w3-center cm-h1 w3-xlarge w3-hide-small" style="transform: translate(-50%, -550%);">
          Click to navigate to each scene. <br>
          Information about each is provided below.
        </div>

        <div class="w3-third">
          <!-- Left Third -->
          <button class="w3-container w3-button w3-opacity" style="height:35%; width:100%;" onclick="location.href='/t?src=home&dst=leftposter';"></button>
          <div class="w3-row">
            <button class="w3-container w3-button w3-opacity w3-half" style="height:65%;" onclick="location.href='/t?src=home&dst=static';"></button>
            <button class="w3-container w3-button w3-opacity w3-half" style="height:65%;" onclick="location.href='/t?src=home&dst=dynamic';"></button>
          </div>
        </div>

        <div class="w3-third">
          <!-- Middle Third -->
          <button class="w3-button w3-col s4 w3-center w3-opacity" style="height:100%; width:30%;" onclick="location.href='/t?src=home&dst=leftlegs';"></button>
          <button class="w3-button w3-col s4 w3-center w3-opacity" style="height:100%; width:40%;" onclick="location.href='/t?src=home&dst=printer';"></button>
          <button class="w3-button w3-col s4 w3-center w3-opacity" style="height:100%; width:30%;" onclick="location.href='/t?src=home&dst=rightlegs';"></button>
        </div>

        <div class="w3-third">
          <!-- Right Third -->
          <button class="w3-container w3-button w3-opacity" style="height:35%; width:100%;" onclick="location.href='/t?src=home&dst=rightposter';"></button>
          <div class="w3-row">
            <button class="w3-container w3-button w3-opacity w3-half" style="height:65%;" onclick="location.href='/t?src=home&dst=recreational';"></button>
            <button class="w3-container w3-button w3-opacity w3-half" style="height:65%;" onclick="location.href='/t?src=home&dst=artistic';"></button>
          </div>
        </div>
      </div>



      <!-- LAST -->
      <div class="w3-display-bottommiddle w3-center cm-scroll-indicator w3-large w3-hide-small" style="transform: translate(-50%, -350%)">
        Read more <br>
        <img src="/static/triangle.png" alt="" style="width:4%;">
      </div>
      <div class="w3-display-topleft w3-container cm-button w3-round" onclick="location.href='/help'" style="width:50px; height:50px;">
        <div class="w3-display-container" style="width:100%; height:100%;">
          <div class="w3-display-middle">
            ?
          </div>
        </div>
      </div>
    </div>

    <!-- infopane -->
    <div class="w3-container cm-infopane">
      <div class="cm-h1 w3-center">
        Quick links
      </div>
      <div class="w3-container">
        <% [{"title":"Static Display Items", "dest":"static"},
            {"title":"Dynamic Display Items", "dest":"dynamic"},
            {"title":"Left Poster", "dest":"leftposter"},
            {"title":"Left Legs and Screen", "dest":"leftlegs"},
            {"title":"Printer", "dest":"printer"},
            {"title":"Right Legs and Screen", "dest":"rightlegs"},
            {"title":"Right Poster", "dest":"rightposter"},
            {"title":"Recreational Display Items", "dest":"recreational"},
            {"title":"Artistic Display Items", "dest":"artistic"}].forEach(function(link){ %>
              <div class="w3-container w3-center w3-cell w3-mobile">
                <a href="/t?src=home&dst=<%=link.dest;%>"> <%=link.title%> </a>
              </div>
        <% }); %>
      </div>

      <!-- HEADER SECTION -->
      <div class="cm-h1 w3-center">
        Additive Manufacturing Kiosk
      </div>
      This kiosk is designed to create an experience where you can learn about the everyday benefits of additive manufacturing and how this futuristic technology is something that everyone can utilize. Each element of the kiosk has been thoughtfully designed to engage multiple senses to explore additive manufacturing.
      <hr>

      <!-- CONTENT -->
      <div class="w3-container w3-center cm-textbox">
        <div class="cm-h1 w3-center">
          Documentary
        </div>
        This short documentary shows the CMTC team's process in creating this experience both in the physical and the virtual spaces.
        <br>
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/fKZb4pSLoOM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <hr>

        <div class="cm-h1 w3-center">
          Fundamental Information
        </div>
        Description of this section: Basic fundamental information necessary for a user to know prior or during the experience of the Kiosk. <br>
        <!--<button class="w3-button cm-button" onclick="expand('nav')" style="width:50%;">// Basic / Mobile Navigation //</button>
        <div id="nav" class="w3-container w3-round-large cm-acordian w3-hide">
          Basic navigation of the site is done through clicking on different regions of space on the kiosk to move. Once clicked, the camera will move to the area selected. Further information and details are available for viewing in the “Read More” below.
          <br>
          In the case navigation is inaccessible, please use the following links to access the Kiosk:
          <br>
          <ul>
            <li><a href="/static">Static Display Items </a></li>
            <li><a href="/dynamic">Dynamic Display Items </a></li>
            <li><a href="/artistic">Artistic Display Items </a></li>
            <li><a href="/recreational">Recreational Display Items </a></li>
            <li><a href="/leftposter">Left Augmented Reality Poster </a></li>
            <li><a href="/leftlegs">Left Lander Legs </a></li>
            <li><a href="/rightposter">Right Augmented Reality Poster </a></li>
            <li><a href="/rightlegs">Right Lander Legs </a></li>
            <li><a href="/printer">Additive Manufacturing (AM): Machines and Techniques</a></li>
          </ul>
        </div> -->
        <button class="w3-button cm-button" onclick="expand('ar')" style="width:50%;">// App / AR Integration //</button>
        <div id="ar" class="w3-container w3-round-large cm-acordian w3-hide">
          Augmented Reality (AR) is an interactive experience where computer generated graphics can be manifested within live camera feeds such as on a phone. In practice, this can be seen in examples such as the popular mobile game Pokémon Go which uses AR to show the users the real world with videogame characters added in. Other examples include auto manufacturers allowing customers to see what's under the hood without actually having to open it.
          <br>
          AR is a fun component of the AM Kiosk! Download the app below to access the full potential of this Kiosk as well as the AR capabilities.
          <br>

          <div class="w3-center">
            <a href="https://testflight.apple.com/join/iJlZcYOz">
              <img src="/static/appstore.svg" alt="" style="width:200px;" class="w3-image" onclick="location.href='https://testflight.apple.com/join/iJlZcYOz'">
            </a>
            <br> <br>
            <a href="https://play.google.com/store/apps/details?id=com.CMTC.WindowToMars">
              <img src="/static/playstore.png" alt="" style="width:200px;" class="w3-image">
            </a>
          </div>

        </div>

        <button class="w3-button cm-button" onclick="expand('about')" style="width:50%;">// Meet the CMTC Team //</button>
        <div id="about" class="w3-container w3-round-large cm-acordian w3-hide">
          <% members.forEach(function(member, i){ %>
            <div class="w3-row w3-center w3-container" stlye="margins: 10px; width:100%; height: 100%;">
              <% if(i % 2 == 0){ %>
                <div class="w3-third" style="height: 400px;">
                  <img src="/static/team/<%=member.image%>" class="w3-image w3-round" style="height: 400px;">
                </div>
                <div class="w3-twothird" style="height: 400px;">
                  <div class="w3-display-container" style="height: inherit;">
                    <div class="w3-display-middle">
                      <div class="cm-h1">
                        <%= member.name %>
                      </div>
                      <div class="cm-text">
                        <%= member.title %>
                      </div>
                    </div>
                  </div>
                </div>
              <% } else { %>
                <div class="w3-twothird" style="height: 400px;">
                  <div class="w3-display-container" style="height: inherit;">
                    <div class="w3-display-middle">
                      <div class="cm-h1">
                        <%= member.name %>
                      </div>
                      <div class="cm-text">
                        <%= member.title %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w3-third" style="height: 400px;">
                  <img src="/static/team/<%=member.image%>" class="w3-image w3-round" style="height: 400px;">
                </div>
              <% } %>
            </div>
          <% }) %>
        </div>
      </div>
    </div>

    <!--FOOTER -->
    <div class="w3-container cm-footer w3-center w3-padding">
      <hr>
      <a href="https://comcastmediatechcenter.org/">
        <img src="/static/cmtc.png" alt="" class="w3-image" style="height:150px;">
      </a>
      <br> <br>
      <a href="https://www.lockheedmartin.com/en-us/index.html">
        <img src="/static/lhm.png" alt="" class="w3-image" style="height:150px;">
      </a>
      <br> <br>
      <a href="https://apps.apple.com/us/app/window-to-mars/id1497805924">
        <img src="/static/appstore.svg" alt="" style="width:200px;" class="w3-image" onclick="location.href='https://testflight.apple.com/join/iJlZcYOz'">
      </a>
      <br> <br>
      <a href="https://play.google.com/store/apps/details?id=com.CMTC.WindowToMars">
        <img src="/static/playstore.png" alt="" style="width:200px;" class="w3-image">
      </a>
    </div>
  </body>
</html>
