<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/css/am.css">
    <script src="/js/general.js"></script>
    <title> <%= title %> </title>
  </head>
  <body>
    <div class="w3-display-container" style="width:100%;">
      <img src="<%=image%>" alt="" style="width: 100%;">

      <!-- LINKS -->
      <% links.forEach(function(link){ %>
        <button class="<%=link.container%> w3-container w3-button w3-opacity" style="height:<%=link.height;%>; width:<%=link.width;%>;" onclick="location.href='/t?src=<%=endpoint%>&dst=<%=link.dest;%>';"></button>
      <% }); %>


      <!-- LAST -->
      <div class="w3-display-bottommiddle w3-center cm-scroll-indicator w3-large " style="transform: translate(-50%, -350%)">
        Read more <br>
        <img src="/static/triangle.png" alt="" style="width:4%;">
      </div>
    </div>

    <!-- INFOPANE // CONTENT AREA-->
    <div class="w3-container cm-infopane">
      <div class="w3-container cm-textbox">
        <div class="cm-h1">
          Quick links
        </div>
        <div class="w3-container">
          <% links.forEach(function(link){
              [{"dest":"printer", "title":"3D Printer"},
               {"dest":"static", "title":"Static Display Items"},
               {"dest":"dynamic", "title":"Dynamic Display Items"},
               {"dest":"recreational", "title":"Recreational Display Items"},
               {"dest":"artistic", "title":"Artistic Display Items"},
               {"dest":"leftlegs", "title":"Left Legs and Screen"},
               {"dest":"rightlegs", "title":"Right Legs and Screen"},
               {"dest":"leftposter", "title":"Left Poster"},
               {"dest":"rightposter", "title":"Right Poster"}].forEach(function(pair){
                 if(pair.dest == link.dest){ %>
                   <div class="w3-container w3-cell w3-mobile">
                     <a href="/t?src=<%=endpoint%>&dst=<%=link.dest;%>"> <%=pair.title%> </a>
                   </div>
                 <% }
               });
            }); %>
        </div>
        <br>
        <%- include(content) %>
      </div>
    </div>

    <!-- HEADER -->
    <button class="w3-center w3-button cm-home-header" onclick="location.href='/t/?src=<%=endpoint%>&dst=home';" style="width:100%;"> HOME </button>
    <!--FOOTER -->
    <div class="w3-container cm-footer w3-center w3-padding">
      <hr>
      <a href="https://comcastmediatechcenter.org/">
        <img src="/static/cmtc.png" alt="" class="w3-image" style="height:150px;">
      </a>
      <br> <br>
      <a href="https://www.lockheedmartin.com/en-us/index.html">
        <img src="/static/lhm.png" alt="" class="w3-image" style="height:150px;">
      </a>
      <br> <br>
      <a href="https://apps.apple.com/us/app/window-to-mars/id1497805924">
        <img src="/static/appstore.svg" alt="" style="width:200px;" class="w3-image" onclick="location.href='https://testflight.apple.com/join/iJlZcYOz'">
      </a>
      <br> <br>
      <a href="https://play.google.com/store/apps/details?id=com.CMTC.WindowToMars">
        <img src="/static/playstore.png" alt="" style="width:200px;" class="w3-image">
      </a>
    </div>
  </body>
</html>
